.main {
  display: flex;
  justify-content: space-between;
  height: 100vh;
  overflow: hidden;
  scroll-behavior: smooth;
}
.spinner {
  display: flex;
  justify-content: center;
  align-items: center;
}
input {
  letter-spacing: 1.2px;
  font-family: Quicksand;
}
.cart-categories {
  display: grid;
}
button:disabled {
  background-color: gainsboro;
  color: purple;
}
button {
  cursor: pointer;
}
