.main {
  display: grid;
  grid-template: 1fr/77px 1fr auto;
  align-items: start;
  max-width: 1500px;
  min-height: 100vh;
  margin-inline: auto;
  position: relative;
}
.cart-categories {
  position: relative;
  right: 0;
  display: grid;
}
button:disabled {
  background-color: gainsboro;
  color: purple;
}
button {
  cursor: pointer;
}
