.foodArray {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 10px;
}
main > h1 {
  margin: 3em 0 1em 1em;
}
.foodAndVegetables {
  width: 200px;
  height: 50px;
  background-color: white;
  margin: 2em 0 0.8em 1em;
  display: flex;
  align-items: center;
  justify-content: space-around;
  box-shadow: 0 2px 12px rgba(0, 0, 0, 0.04);
  border-radius: 12px;
  padding: 1em;
}
.foodAndVegetables p:first-child {
  font-weight: 600;
  color: rgba(0, 0, 0, 1);
}
.foodAndVegetables p:last-child {
  font-size: 24px;
  font-weight: 900;
  color: rgba(193, 193, 196, 1);
  cursor: pointer;
  margin: 0;
  padding: 0;
}
