.items-container {
  height: 100vh;
  width: 389px;
  background-color: rgba(255, 240, 222, 1);
  flex: 0 0 300px;
  padding: 10px;
}
@media screen and (max-width: 678px) {
  .items-container {
    display: none;
  }
}
