.shoppingHistory {
  margin-left: 2em;
  margin-right: 2em;
  margin-top: 1em;
}
.Shoppinglist-component {
  display: flex;
  background-color: white;
  height: 63.45px;
  align-items: center;
  justify-content: space-between;
  border-radius: 10px;
}
.Shoppinglist-component > div > h1 {
  text-transform: capitalize;
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: 1.2px;
  margin-left: 0.8em;
}
.date-container p {
  color: black;
  font-weight: 700;
  margin: 1em 1em 1em 0;
}
.calender-container {
  display: flex;
}
.calender-container p {
  margin-right: 0.8em;
  color: rgba(193, 193, 196, 1);
  font-weight: 600;
}
.statusDiv {
  display: flex;
}
.statusDiv > button {
  width: 100%;
  display: flex;
  background: none;
  padding-left: 2em;
  padding-top: 1em;
  padding-bottom: 1em;
  padding-right: 2em;
  border-radius: 8px;
  border: 2px solid rgba(249, 161, 9, 1);
  color: rgba(249, 161, 9, 1);
  letter-spacing: 1.2px;
  margin-right: 0.8em;
}
.statusDiv p {
  font-size: 1.7em;
  color: rgba(249, 161, 9, 1);
}
@media screen and (max-width: 678px) {
  .Shoppinglist-component > div > h1 {
    margin-left: 0;
    text-align: left;
    margin-bottom: 20px;
  }
  .calender-container {
    flex-direction: column;
  }
  .statusDiv {
    flex-direction: column;
  }
  .Shoppinglist-component {
    flex-direction: column;
    padding: 1em 2em 1em 2em;
    height: 100%;
  }
}
