.Shoppinglist-component {
  display: flex;
  width: 90%;
  background-color: white;
  height: 63.45px;
  justify-content: space-between;
  border-radius: 10px;
}
.date-container p {
  color: black;
  font-weight: 700;
  margin: 1em 0 1em 0;
}
