.main-shopping {
  // display: grid;
  // grid-template: 1fr/77px 1fr auto;
  margin-inline: auto;
  display: flex;
  justify-content: space-between;
  height: 100vh;
  overflow: hidden;
  scroll-behavior: smooth;
}

@media screen and (max-width: 678px) {
  .main-shopping {
    justify-content: initial;
    gap: -10px;
  }
}
