.showCategory {
  width: 100%;
  margin-top: 0.8em;
  height: 168.38px;
  border-radius: 12px;
  padding: 1em;
  background-color: white;
}
.showCategory h2 {
  color: rgba(130, 130, 130, 1);
  font-size: 18px;
  margin-bottom: 0.7em;
  cursor: pointer;
}
